body {
  background-color: lightblue;
  font-family: sans-serif;
  border: 2px solid #111111;
  border-radius: 10px;
}
html {
  background-color: green;
}
nav ul {
  background-color: #2eb82e;
  list-style-type: none;
  margin-left: 50px;
  margin-right: 50px;
  border: 2px solid #111111;
  border-radius: 10px;
}
nav ul li {
  font-family: sans-serif;
  color: black;
  font-weight: bold;
  display: inline;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
