body {
  background-color: lightblue;
  font-family: sans-serif;
  border: 2px solid #111111;
  border-radius: 10px;
}
html {
  background-color: green;
}
nav ul {
  background-color: #2eb82e;
  list-style-type: none;
  border: 2px solid #111111;
  border-radius: 10px;
  font-weight: bold;
  padding: 16px;
}
nav ul li {
  border-right: 2px solid #111111;
  display: inline;
  margin-left: 8px;
  margin-right: 8px;
  padding-right: 8px;
  padding-left: 8px;
}
nav ul li:last-child {
  border-right: none;
}
nav ul li a {
  text-decoration: none;
  color: #111111;
}
  
